@import 'bootstrap/dist/css/bootstrap';

body {
    background-image: url(navbar.jpg);
    background-attachment: fixed;
    background-size: 100%;
}

.card {
    background-color: rgb(238, 208, 76);
    transition: background-color 0.5s ease;
}

.card:hover {
    background-color: rgb(255, 174, 0);
}

.navbar {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 85%);
    
    .navbar-brand {
        color: white !important;
    }

    .nav-link {
        color: white !important;
    }

    .nav-link:hover {
        .nav-item{
            color: transparent !important;
        }
    }

    .btn{
        color: rgb(0, 255, 0) !important;
    }
}

.btn {
    white-space: normal !important;
    color: white !important;
}

.card{
    margin-right: 5em;
    margin-bottom: 2em;
}

.card-title{
    display:inline-block;

}

.card-right {
    float: right;
}